{% comment %}
  Renders a tabbed interface scoped to a specific product, rendering Shipping & Return Policies and custom metafield `details-and-fit`

  Accepts:
  - product: {Object} Product Liquid object (required) — provides scoped context for description and policy content
  - block: {Object} passing the block information.
  - details: {String} Details & fit content from section setting input
  - returns: {String} Returns content from section setting input

  Usage:
  {% render 'product-tabs', product: product, block: block, details: block.settings.details, shipping: block.settings.shipping, returns: block.settings.returns %}
{% endcomment %}

<product-tabs {{ block.shopify_attributes }}>
  <div class="product-tabs__list" role="tabslist">
    <product-tabs-button role="tab" tabindex="1" id="product-tabs-details-{{ block.id }}" aria-selected="true"
      >Details & Fit</product-tabs-button
    >
    <product-tabs-button role="tab" tabindex="2" id="product-tabs-policies-{{ block.id }}"
      >Shipping & Returns</product-tabs-button
    >
  </div>

  <product-tabs-content role="tabpanel" aria-labelledby="product-tabs-details-{{ block.id }}" aria-hidden="false">
    {{ details }}
  </product-tabs-content>

  <product-tabs-content role="tabpanel" aria-labelledby="product-tabs-policies-{{ block.id }}" aria-hidden="true">
    {{ shop.shipping_policy }}
    {% if product.tags contains 'Final Sale' %}
      {{ returns }}
    {% else %}
      {{ shop.refund_policy }}
    {% endif %}
  </product-tabs-content>
</product-tabs>
